@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;600&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply bg-background text-primary font-sans antialiased selection:bg-accent selection:text-white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight;
  }
}
@media print {
  .no-print {
    display: none !important;
  }
  body {
    @apply bg-white text-black;
  }
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  main {
    @apply pt-0;
  }
}
